<div class="container">
  <h1 class="title">PredictX</h1>

  <form [formGroup]="form" class="form" (ngSubmit)="onSubmit(form.value)">
    <label for="firstValue"></label>
    <input
      type="text"
      minLength="3"
      formControlName="firstValue"
      class="inputs"
      placeholder="Enter first String"
    />
    <!-- <div *ngIf="firstValue.errors?.minLength">Min length</div> -->
    <label for="secondValue"></label>
    <input
      type="text"
      formControlName="secondValue"
      class="inputs"
      placeholder="Enter Second String"
    />
    <button class="button" type="submit">Submit</button>
  </form>
</div>

<ng-container *ngIf="results">
  <app-result [result]="finalResult"></app-result>
</ng-container>

<div>{{ finalResult }}</div>
